
params.studyDirectory = "/home/jbrestel/tmp/popbio/isatab-VBP0000123/"
params.project = "PROJECT"
params.extDbRlsSpec = "EXTDB|Rls"
params.webDisplayOntologySpec = "WDExtDB|Rls"
params.webDisplayOntologyFile = "/home/jbrestel/test.json"
params.loadWebDisplayOntologyFile = false

params.schema = "EDA"
params.isaFormat = "isatab"
params.investigationBaseName = "investigation.txt"

params.megaStudyStableId = "megaStudyStableId"
params.optionalMegaStudyYaml = "optionalMegaStudyYaml"

params.assayResultsDirectory = "resultsDirectory"
params.assayResultsFileExtensionsJson = "resultsFileExtensionsJson"
params.sampleDetailsFile = "sampleDetailsFile"

// optional files when isaFormat = simple
params.optionalDateObfuscationFile = "NA"
params.optionalValueMappingFile = "NA"
params.optionalOntologyMappingOverrideBaseName = "NA"

// optional ontology files
params.optionalEntityTypeFile = "NA"
params.optionalOwlAttributesFile = "NA"
params.optionalOrdinalsFile = "NA"

params.downloadFileBaseName = "downloadFileBaseName"
