
params.studyDirectory = "$launchDir/isatab-VBP0000123/"
params.project = "PROJECT"
params.extDbRlsSpec = "EXTDB|Rls"
params.webDisplayOntologySpec = "WDExtDB|Rls"
params.webDisplayOntologyFile = "$launchDir/test.owl"
params.loadWebDisplayOntologyFile = false

params.schema = "EDA"
params.isaFormat = "isatab"
params.investigationBaseName = "investigation.txt"

// mega study options
params.megaStudyStableId = "megaStudyStableId"
params.optionalMegaStudyYaml = "optionalMegaStudyYaml"

// mbio params for adding otus
params.assayResultsDirectory = "resultsDirectory"
params.assayResultsFileExtensionsJson = "resultsFileExtensionsJson"
params.sampleDetailsFile = "sampleDetailsFile"

// optional files when isaFormat = simple
params.optionalDateObfuscationFile = "NA"
params.optionalValueMappingFile = "NA"
params.optionalOntologyMappingOverrideBaseName = "ontologyMapping.xml"
params.investigationSubset = "NA"

// optional ontology files
params.optionalAnnotationPropertiesFile = "NA"

// where to write download files.  TODO add webservices?
params.downloadFileBaseName = "downloadFileBaseName"

// popbio species reconcilliation
params.speciesReconciliationOntologySpec = "NA"
params.speciesReconciliationFallbackSpecies = "NA"

trace.enabled = true
trace.fields = 'task_id,hash,process,tag,status,exit,submit,realtime,%cpu,rss'
